.app {
  display: flex;
  flex-direction: row-reverse; /* Moves the sidebar to the right */
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-container {
  flex: 1; /* Ensures the map takes up the remaining space on the left */
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 150px; /* Adjust the width of the logo */
  height: auto;
}
